<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sejong Campus App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="text-lg">Sejong Campus App</div>
        <ul class="nav-links">
            <li><a href="/"> Home (Academics API)</a></li>
        </ul>
        <div class="search-container">
            <button class="search-btn">Search</button>
        </div>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy; 2024 Sejong App</p>
</footer>
</body>
</html>
